@font-face {
    font-family: 'montextralight_demo';
    src: url('../font/mont-extralightdemo-webfont.woff2') format('woff2'),
         url('../font/mont-extralightdemo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montheavy_demo';
    src: url('../font/mont-heavydemo-webfont.woff2') format('woff2'),
         url('../font/mont-heavydemo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #FFFFFF;
    font-family: 'montextralight_demo', serif;
}

/* Header */

header{
    height: 60px;
    position: relative;
    width: 100%;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header h1{
    font-family: 'montextralight_demo', serif;
    color: #FFFFFF;
}

header h1 a{
    text-decoration: none;
    color: #FFFFFF;
}

header #search{
    width: 50%;
    height: 35px;
    border-radius: 15px;
    padding-left: 20px;
}

header #search:hover{
    bottom: none;
    outline: none;
}

header div{
    width: 100px;
    display: flex;
    justify-content: space-between;
}

header i{
    color: #FFFFFF;
    font-size: 1.2em;
}

/* ----------------------------- Home -------------------------------- */

/* home hero */

.overlay-container-hero{
    height: 80vh;
    background-image: url(../images/hero.jpg);
    background-position: center right;
    position: relative;
}

.overlay-hero{
    height: 80vh;
    background-color: rgba(255, 255, 255, 0.6);
}

.overlay-container-hero h1{
    top: 20%;
    left: 30%;
    font-size: 4em;
    position: absolute;
}

.overlay-container-hero button{
    padding: 10px 16px;
    background-color: #000000;
    color: #FFFFFF;
    font-size: 1em;
    border-radius: 20px;
    top: 60%;
    left: 30%;
    position: absolute;
}

/* title */

.home-title{
    margin: 30px 6%;
}

/* shops buttons */

.shops ul{
    display: flex;
    flex-wrap: wrap;
    margin: 0 6%;
}

.shops li{
    list-style-type: none;
    border: 1px solid black;
    padding: 8px 12px;
    background-color: #000000;
    border-radius: 20px;
    margin: 10px;
}

.shops a{
    text-decoration: none;
    padding: 0;
    margin: 0;
    color: #FFFFFF;
}

/* display books on home page */

/* .category{

} */

.books-display-category{
    margin: 0 6%;
    display: flex;
    flex-wrap: wrap;
}

.book-cover-home{
    padding: 20px;
    word-wrap: break-word;
}

.book-cover-home a{
    text-decoration: none;
    color: #000000;
}

.book-cover-home h2{
    cursor: default;
}

.book-img-home, .book-img-home img{
    background-color: grey;
    height: 250px;
    width: 175px;
}

.book-cover-home h3{
    padding-top: 10px;
    width: 200px;
}

/* ------------------------- Auth Pages ----------------------- */

.bg-overlay-container{
    height: 100vh;
    background-image: url(../images/hero.jpg);
    background-position: center right;
    position: relative;   
}

.bg-overlay{
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.7);
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    top: 0;
    position: absolute;
}

/* .auth-section{

} */

.auth{
    border: 1px solid black;
    border-radius: 10px;
    background-color: #FFFFFF;
}

.auth-l{
    padding: 20px 30px;
}

.auth-l, .auth-l div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.auth-l form{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.auth-l form input{
    margin-bottom: 20px;
    min-width: 300px;
    padding: 10px;
    border-radius: 8px;
    outline: none;
}

.auth-l button{
    padding: 10px 16px;
    width: 150px;
    background-color: black;
    color: #FFFFFF;
    font-size: 1em;
    border-radius: 20px;
}

.auth-s{
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;   
}

.auth-s a{
    font-family: 'montheavy_demo', sans-serif;
    text-decoration: none;
    color: #0095F6;
}

/* -------------------------- seller books ------------------------ */

.banner-f{
    background-image: url(../images/profile.jpg);
    background-size: cover;
    background-position: bottom;
    background-color: gray;
    width: 100%;
    height: 250px;
}

.profile-mid-center{
    position: absolute;
    background-color: #44B0E6;
    width: 120px;
    height: 120px;
    top: 250px;
    left: 46%;
    border-radius: 50%;
}

.profile-mid-center i{
    position: absolute;
    top: 24px;
    left: 25px;
    font-size: 5em;
    color: white;
}

.title-mid{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
}

.display-mid{
    padding: 70px 0 0 80px;
    display: flex;
    flex-direction: column;
}

.book-display-shops{
    display: flex;
    margin-bottom: 30px;
}

.book-display-shops:last-child{
    padding-bottom: 100px;
}

.book-image{
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shops-img{
    width: 60%;
    height: 100%;
    background-color: gray;
}

.shops-img img{
    width: 100%;
    height: 100%;
    background-color: gray;
}

.book-display-detail{
    width: 60%;
}

.book-display-cta{
    padding-left: 20px;
    width: 25;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn{
    text-decoration: none;
    padding: 8px 18px;
    background-color: #000000;
    color: #FFFFFF;
    border-radius: 20px;
    align-self: center;
}

.btn:hover{
    cursor: pointer;
}

.display-mid h1{
    padding: 50px 150px 0 150px;
}

/* ---------------------------- all sellers ------------------------------ */

.display-center{
    padding: 60px 100px;
}

.open-title{
    padding-bottom: 20px;
    border-bottom: 1px solid black;
}

.seller-profile-display{
    display: flex;
    margin-bottom: 65px;
    padding-bottom: 20px;
    border-bottom: 1px solid black;
}

.profile-display-image{
    width: 20%;
    position: relative;
}

.seller-profile{
    position: absolute;
    background-color: #44B0E6;
    width: 120px;
    height: 120px;
    top: -20%;
    left: 20%;
    border-radius: 50%;
}

.seller-profile i{
    position: absolute;
    top: 24px;
    left: 25px;
    font-size: 5em;
    color: white;
}

.profile-display-detail{
    width: 60%;
}

.profile-display-cta{
    width: 20%;
    display: flex;
    flex-direction: column;
}

.mr-b{
    margin-bottom: 20px;
}

/* ------------------------- profile ---------------------- */

.profile-section{
    position: relative;
    width: 50%;
}


.banner-m{
    background-image: url(../images/profile.jpg);
    background-size: cover;
    background-position: bottom;
    background-color: gray;
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 150px;
}

.profile-mid-mid{
    position: absolute;
    background-color: #44B0E6;
    width: 120px;
    height: 120px;
    top: 80px;
    left: 40%;
    border-radius: 50%;
}

.profile-mid-mid i{
    position: absolute;
    top: 24px;
    left: 25px;
    font-size: 5em;
    color: white;
}

.profile-mid-left{
    position: absolute;
    background-color: #44B0E6;
    width: 120px;
    height: 120px;
    top: 80px;
    left: 75px;
    border-radius: 50%;
}

.profile-mid-left i{
    position: absolute;
    top: 24px;
    left: 20px;
    font-size: 5em;
    color: white;
}

.profile-display{
    background-color: #FFFFFF;
    height: 400px;
    padding: 70px 0 0 80px;
    display: flex;
    flex-direction: column;
    border-radius: 0 0 10px 10px;
}

.profile-display p{
    margin-bottom: 10px;
}

/* ------------------- cart ----------------------------*/

.display-m{
    padding: 60px 100px 0 100px;
}

.main-title{
    padding-bottom: 20px;
    border-bottom: 1px solid black;    
}

.cart-order{
    display: flex;
    margin: 50px 0;
}

.cart-order:last-child{
    padding-bottom: 50px;
    border-bottom: 1px solid black;
}

.cart-book-image{
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart-img{
    width: 150px;
    height: 200px;
    background-color: gray;
}

.cart-img img{
    width: 100%;
    height: 100%;
}



.c-btn{
    background-color: #000000;
    color: #FFFFFF;
    padding: 10px;
}

.total{
    padding: 0 100px 50px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.total span{
    padding-left: 5em;
}

.total button{
    margin-top: 20px;
}

/* ----------------------------- book ------------------------- */

.display-b{
    background-color: #FFFFFF;
    width: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    position: relative;
}

.book-section-one{
    display: flex;
}

.b-book-image{
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.b-img{
    width: 250px;
    height: 350px;
    background-color: gray;
}

.b-detail{
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.qty{
    font-size: 2em;
    padding: 0 10px;
}

.b-btn{
    padding: 12px 18px;
    background-color: #000000;
    color: #FFFFFF;
    border-radius: 20px;
    width: 400px;
}

.b-btn:hover{
    cursor: pointer;
}

.b-btn-2{
    background-color: #000000;
    color: #FFFFFF;
    padding: 10px;
}

.check select{
    background-color: #000000;
    color: #FFFFFF;
    font-size: 1.2em;
}

.check input{
    width: 100%;
    padding: 8px 6px;
}

.book-section-two{
    padding: 30px 140px;
}

.book-section-two p{
    text-align: justify;
}

/* -------------------------- 404 ------------------- */

.error{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow-y: hidden;
}

.error h1:first-child{
    font-size: 20em;
}

/* ----------------------------- dashboard ---------------------------- */


.banner-d{
    background-image: url(../images/profile.jpg);
    background-size: cover;
    background-position: bottom;
    background-color: gray;
    width: 100%;
    height: 200px;
}

.profile-d{
    position: absolute;
    background-color: #44B0E6;
    width: 200px;
    height: 200px;
    top: 100px;
    left: 43%;
    border-radius: 50%;
}

.profile-d i{
    position: absolute;
    top: 35px;
    left: 45px;
    font-size: 8em;
    color: white;
}

.display-dashboard{
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dashboard-books{
    background-color: #FFFFFF;
    height: 400px;
    padding: 70px 0 0 80px;
    display: flex;
    flex-direction: column;
    border-radius: 0 0 10px 10px;
}

.seller-book-display{
    display: flex;
    margin-bottom: 30px;
}

.seller-book-display:last-child{
    padding-bottom: 100px;
}

.seller-book-image{
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.seller-img{
    width: 60%;
    height: 100%;
    background-color: gray;
}

.seller-img img{ 
    width: 100%;
    height: 100%;
    background-color: gray;
}

.seller-detail{
    width: 60%;
}

.seller-cta{
    padding-left: 20px;
    width: 25;
    display: flex;
    align-items: center;
    justify-content: center;
}

.s-btn{
    text-decoration: none;
    padding: 8px 18px;
    background-color: #000000;
    color: #FFFFFF;
    border-radius: 20px;
    align-self: center;
}

.hed{
    padding: 20px 0;
}

.display-order{
    background-color: #FFFFFF;
    height: 400px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    align-items: center;
    margin-bottom: 50%;
}

#customers{
    border-collapse: collapse;
    width: 80%;
}

#customers td, #customers th{
    border: 1px solid black;
    padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers td{
    text-align: center;
}

#customers th {
    padding: 12px 0 12px 0;
    text-align: center;
    background-color: #000000;
    color: #FFFFFF;
}

.order-img{
    height: 150px;
    width: 100px;
    background-color: #42A5F5;
}

.order-img img{
    height: 100%;
    width: 100%;
    background-color: #42A5F5;
}

.new-book-title{
    padding: 50px 150px 0 150px;
}

.new-book-display{
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.new-book-display form label{
    font-size: 1.6em;
}

.new-book-display form input{
    width: 100%;
    padding: 8px 6px;
}

.new-book-display form textarea{
    padding: 8px 6px;
}

button:hover{
    cursor: pointer;
}

.error {
    padding: 5px;   
    margin-bottom: 15px;
    width: 100%;
    height: 30px;
    color: red;
    border: 1px solid red;
}