    <h1 class="new-book-title">Add New Shop</h1>
    <div class="new-book-display">
        <form>
            <label for="name">Shop Name:</label><br>
            <input type="text" id="name"><br>

        </form><br>
        <button type="submit" class="btn">Add Shop</button>
    </div>