<header>
    <h1><a href="/">BookFair</a></h1>
    <form action="/books/search">
        <input type="text" name="term" id="search" placeholder="Search Books" >
        <input type="submit" value="Search" class="srch-btn">
    </form>
    <div>
        <a href="/buyer/{{authId}}/cart"><i class="fas fa-shopping-cart"></i></a>
        <a href="/buyer/{{authId}}"><i class="fas fa-user-alt"></i></a>
    </div>
</header>

<div class="bg-overlay-container">
        <div class="bg-overlay"></div>
        <div class="container">
            <div class="auth">
                <div class="auth auth-l">
                    <h1>BookFair</h1>
                    <h3>Buyer's Account</h3>
                    <br><br>
                    <a href="/buyer/new"><button>Sign Up</button></a>
                    <br><br>
                    <a href="/buyer/login"><button>Log In</button></a><br><br>
                    <p>Home Page <a href="/">click here</a></p>
                </div>
            </div>
        </div>
    </div>