<div class="bg-overlay-container">
        <div class="bg-overlay"></div>
        <div class="container">
            <div class="auth">
                <div class="auth auth-l">
                    <h1>BookFair</h1>
                    <h3>Buyer's Account</h3>
                    <br><br>
                    <a href="#"><button>Sign Up</button></a>
                    <br><br>
                    <a href="#"><button>Log In</button></a><br><br>
                    <p>Home Page <a href="#">click here</a></p>
                </div>
            </div>
        </div>
    </div>