<header>
    <h1><a href="/">BookFair</a></h1>
    <form action="/books/search">
        <input type="text" name="term" id="search" placeholder="Search Books" >
        <input type="submit" value="Search" class="srch-btn">
    </form>
    <div>
        <a href="/buyer/{{authId}}/cart"><i class="fas fa-shopping-cart"></i></a>
        <a href="/buyer/{{authId}}"><i class="fas fa-user-alt"></i></a>
    </div>
</header>

    <div class="bg-overlay-container">
        <div class="bg-overlay"></div>
        <div class="container">
            <div class="profile-section">
                <div class="banner-m"></div>
                <div class="profile-mid-left">
                    <i class="fas fa-user-alt"></i>
                </div>
                <div class="profile-display">
                    <h1>Buyer Dosn't Exist!</h1>
                </div>
            </div>
        </div>
    </div>
