<h1 class="home-title">My Books</h1>
    <div class="dashboard-books">

        <h1 style="color: red; text-align: center; padding: 50px 20px;">You Havn't Had Added Book's Yet</h1>

        {{#each sellerIdInfo}}

        <a href="/seller/{{seller_id}}/books/new" class="btn">Add New Book</a><br>
        <a href="/seller/{{seller_id}}/orders" class="btn">View My Orders</a><br>
        <a href="/seller/{{seller_id}}/" class="btn">Dashboard</a>
        <br><br><br>

        {{/each}}
    </div>