<header>
    <h1><a href="/">BookFair</a></h1>
    <form action="/books/search">
        <input type="text" name="term" id="search" placeholder="Search Books" >
        <input type="submit" value="Search" class="srch-btn">
    </form>
    <div>
        <a href="/buyer/{{authId}}/cart"><i class="fas fa-shopping-cart"></i></a>
        <a href="/buyer/{{authId}}"><i class="fas fa-user-alt"></i></a>
    </div>
</header>


    <div class="display-m">
        <h1 class="main-title">My Cart</h1>

        <h2 style="color: green; text-align: center; padding: 100px 0">Cart Is Empty!</h2>

    </div>
    <div class="total">
        <h1>Total Amount <span>₹ 0</span></h1><br><br>
        <a href="/books" class="btn">View Books To Buy</a>
    </div>