    <div class="display-m">
        <h1 class="main-title">My Cart</h1>

        <h2 style="color: green; text-align: center; padding: 100px 0">Cart Is Empty!</h2>

    </div>
    <div class="total">
        <h1>Total Amount <span>₹ 0</span></h1><br><br>
        <a href="/books" class="btn">View Books To Buy</a>
    </div>