<header>
    <h1><a href="/">BookFair</a></h1>
    <input type="text" name="search" id="search" placeholder="Search Books" >
    <div>
        <a href="/buyer/{{authId}}/cart"><i class="fas fa-shopping-cart"></i></a>
        <a href="/buyer/{{authId}}"><i class="fas fa-user-alt"></i></a>
    </div>
</header>

    <div class="found-error">
        <h1>404</h1>
        <h1>A wise man once asked…<br>If you’ve come to a page that can not be found Does it actually exist?</h1>
    </div>