<header>
    <h1><a href="/">BookFair</a></h1>
    <input type="text" name="search" id="search" placeholder="Search Books" >
    <div>
        <a href="/buyer/{{authId}}/cart"><i class="fas fa-shopping-cart"></i></a>
        <a href="/buyer/{{authId}}"><i class="fas fa-user-alt"></i></a>
    </div>
</header>

    <div class="bg-overlay-container">
        <div class="bg-overlay"></div>
        <div class="container">
            <div class="profile-section">
                <div class="banner-m"></div>
                <div class="profile-mid-mid">
                    <i class="fas fa-user-tie"></i>
                </div>
                <div class="profile-display">
                    <h1>Seller Not Found !</h1>
                </div>
            </div>
        </div>
    </div>