<div class="bg-overlay-container">
        <div class="bg-overlay"></div>
        <div class="container">
            <div class="auth-section">
                <div class="auth auth-l">
                    <h1>BookFair</h1>
                    <h3>Dashboard</h3>
                    {{#each errors}}
                        <div class="error">
                            <p>{{text}}</p>
                        </div>
                    {{/each}}
                    <div>
                        <form action="/seller/new" method="POST">
                            <input type="text" placeholder="Full_Name" name="full_name" value={{full_name}}>
                            <input type="text" placeholder="Email" name="email" value={{email}}>
                            <input type="number" placeholder="Phone_Number" name="phone_number" value={{phone_number}}>
                            <input type="submit" value="Sign Up" class="btn">
                        </form>
                    </div>
                </div>
                <br><br>
                <div class="auth auth-s">
                    <p>Have an account?</p>
                    <a href="/seller/login">Log IN</a>
                </div>
            </div>
        </div>
    </div>