    <div class="bg-overlay-container">
        <div class="bg-overlay"></div>
        <div class="container">
            <div class="profile-section">
                <div class="banner-m"></div>
                <div class="profile-mid-mid">
                    <i class="fas fa-user-tie"></i>
                </div>
                <div class="profile-display">
                    <h1>Seller Doesn't Own Shop.</h1>
                </div>
            </div>
        </div>
    </div>