<div class="bg-overlay-container">
        <div class="bg-overlay"></div>
        <div class="container">
            <div class="auth-section">
                <div class="auth auth-l">
                    <p>You are succesfully Logged In</p><br>
                    <a href="/" class="btn">Click Here To Shop</a>
                    {{!-- {{setUser userInfo.user_id}} --}}
                </div>
            </div>
        </div>
    </div>