<div class="banner-f"></div>
    <div class="profile-mid-center">
        <i class="fas fa-user-tie"></i>
    </div>
    <div class="title-mid">
        <h1>ALL Books</h1>
        <h3>Owner</h3>
        <p>Seller</p>
    </div>

    <div class="display-mid">

        <div class="book-display-shops title-mid">
            <h1 style="color: red;">Seller Dosn't have books in stock</h1>
        </div>

    </div>