@media all and (max-width: 1200px){
    header h1{
        font-size: 1.5em;
    }

    header #search{
        width: 40%;
    }

    header div{
        width: 50px;
    }

    header i{
        font-size: .8em;
    }

    .dashboard-books{
        padding: 70px 0 0 0;
    }

    .seller-book-display{
        flex-direction: column;
        align-items: center;
    }

    .seller-book-image{
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .seller-img{
        width: 150px;
        height: 200px;
    }

    .dashboard-books{
        padding: 20px 0;
    }

    .display-b{
        width: 100%;   
    }

    .book-section-one{
        flex-direction: column;
    }

    .b-book-image{
        width: 100%;
    }

    .b-detail{
        padding-top: 20px;
    }

    .book-section-two{
        padding: 30px 10px;
    }

    .display-m{
        padding: 30px;
    }

    .cart-order{
        flex-direction: column;
    }

    .cart-book-image{
        width: 100%;
        padding-bottom: 20px;
    }

    .total span{
        padding-left: 2em;
    }


    .display-center{
        padding: 30px;
    }

    .seller-profile-display{
        flex-direction: column;
    }

    .profile-display-image{
        width: 100%;
        height: 140px;
    }

    .seller-profile{
        top: 0;
        left: 40%;
    }

    .profile-display-detail{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .profile-display-cta{
        width: 100%;
        padding-top: 20px;
        flex-direction: row;
        justify-content: center;
    }

    .mr-b{
        margin-left: 10px;
    }


}