@font-face {
    font-family: 'montextralight_demo';
    src: url('../font/mont-extralightdemo-webfont.woff2') format('woff2'),
         url('../font/mont-extralightdemo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montheavy_demo';
    src: url('../font/mont-heavydemo-webfont.woff2') format('woff2'),
         url('../font/mont-heavydemo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #FFFFFF;
    font-family: 'montextralight_demo', serif;
}

.banner{
    background-image: url(../images/profile.jpg);
    background-size: cover;
    background-position: bottom;
    background-color: gray;
    width: 100%;
    height: 200px;
}

.profile{
    position: absolute;
    background-color: #44B0E6;
    width: 200px;
    height: 200px;
    top: 100px;
    left: 43%;
    border-radius: 50%;
}

.profile i{
    position: absolute;
    top: 35px;
    left: 45px;
    font-size: 8em;
    color: white;
}

.display{
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.display p{
    font-size: 1.5em;
}

.btn{
    text-decoration: none;
    padding: 8px 18px;
    background-color: #000000;
    color: #FFFFFF;
    border-radius: 20px;
    align-self: center;
    margin-bottom: 20px;
}