@font-face {
    font-family: 'montextralight_demo';
    src: url('../font/mont-extralightdemo-webfont.woff2') format('woff2'),
         url('../font/mont-extralightdemo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montheavy_demo';
    src: url('../font/mont-heavydemo-webfont.woff2') format('woff2'),
         url('../font/mont-heavydemo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #FFFFFF;
    font-family: 'montextralight_demo', serif;
}

/* Header */

header{
    height: 60px;
    position: relative;
    width: 100%;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header h1{
    font-family: 'montextralight_demo', serif;
    color: #FFFFFF;
}

header #search{
    width: 50%;
    height: 35px;
    border-radius: 15px;
    padding-left: 20px;
}

header #search:hover{
    bottom: none;
    outline: none;
}

header div{
    width: 100px;
    display: flex;
    justify-content: space-between;
}

header i{
    color: #FFFFFF;
    font-size: 1.2em;
}

/* one */

.one{
    height: 80vh;
    background-image: url(../images/hero.jpg);
    background-position: center right;
    position: relative;
}

.overlay{
    height: 80vh;
    background-color: rgba(255, 255, 255, 0.6);
}

.one h1{
    top: 20%;
    left: 30%;
    font-size: 4em;
    position: absolute;
}

.one button{
    padding: 10px 16px;
    background-color: #000000;
    color: #FFFFFF;
    font-size: 1em;
    border-radius: 20px;
    top: 60%;
    left: 30%;
    position: absolute;
}

/* two */

.two h1{
    margin: 30px 6%;
}

.two ul{
    display: flex;
    flex-wrap: wrap;
    margin: 0 6%;
}

.two li{
    list-style-type: none;
    border: 1px solid black;
    padding: 8px 12px;
    background-color: #000000;
    border-radius: 20px;
    margin: 10px;
}

.two li a{
    text-decoration: none;
    padding: 0;
    margin: 0;
    color: #FFFFFF;
}

/* three */

.title{
    margin: 30px 6%;
}

.book-display{
    margin: 0 6%;
    display: flex;
    flex-wrap: wrap;
}

.single-book{
    padding: 20px;
}

.single-book a{
    text-decoration: none;
    color: #000000;
}

.single-book h2{
    cursor: default;
}

.book-img, .book-img img{
    background-color: grey;
    height: 250px;
    width: 175px;
}

.single-book h3{
    padding-top: 10px;
}

/* footer */

footer{
    margin-top: 100px;
    height: 60px;
    width: 100%;
    background-color: #000000;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}
