@font-face {
    font-family: 'montextralight_demo';
    src: url('../font/mont-extralightdemo-webfont.woff2') format('woff2'),
         url('../font/mont-extralightdemo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montheavy_demo';
    src: url('../font/mont-heavydemo-webfont.woff2') format('woff2'),
         url('../font/mont-heavydemo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #FFFFFF;
    font-family: 'montextralight_demo', serif;
}

h1{
    padding: 50px 150px 0 150px;
}

.display{
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form label{
    font-size: 1.6em;
}

form input{
    width: 100%;
    padding: 8px 6px;
}

form textarea{
    padding: 8px 6px;
}

.btn{
    text-decoration: none;
    padding: 8px 18px;
    background-color: #000000;
    color: #FFFFFF;
    border-radius: 20px;
    align-self: center;
}