@font-face {
    font-family: 'montextralight_demo';
    src: url('../font/mont-extralightdemo-webfont.woff2') format('woff2'),
         url('../font/mont-extralightdemo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montheavy_demo';
    src: url('../font/mont-heavydemo-webfont.woff2') format('woff2'),
         url('../font/mont-heavydemo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #FFFFFF;
    font-family: 'montextralight_demo', serif;
}

header{
    height: 60px;
    position: relative;
    width: 100%;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header h1{
    font-family: 'montextralight_demo', serif;
    color: #FFFFFF;
}

header #search{
    width: 50%;
    height: 35px;
    border-radius: 15px;
    padding-left: 20px;
}

header #search:hover{
    bottom: none;
    outline: none;
}

header div{
    width: 100px;
    display: flex;
    justify-content: space-between;
}

header i{
    color: #FFFFFF;
    font-size: 1.2em;
}

.hed{
    padding: 20px 0;
}

.display-view{
    background-color: #FFFFFF;
    height: 400px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    align-items: center;
    margin-bottom: 50%;
}

#customers{
    border-collapse: collapse;
    width: 80%;
}

#customers td, #customers th{
    border: 1px solid black;
    padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers td{
    text-align: center;
}

#customers th {
    padding: 12px 0 12px 0;
    text-align: center;
    background-color: #000000;
    color: #FFFFFF;
}

.book-img{
    height: 150px;
    width: 100px;
    background-color: #42A5F5;
}

@media all and (max-width: 600px){

    header h1{
        font-size: 1.5em;
    }

    header #search{
        width: 40%;
    }

    header div{
        width: 50px;
    }

    header i{
        font-size: .8em;
    }
}