@font-face {
    font-family: 'montextralight_demo';
    src: url('../font/mont-extralightdemo-webfont.woff2') format('woff2'),
         url('../font/mont-extralightdemo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montheavy_demo';
    src: url('../font/mont-heavydemo-webfont.woff2') format('woff2'),
         url('../font/mont-heavydemo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #FFFFFF;
    font-family: 'montextralight_demo', serif;
}

header{
    height: 60px;
    position: relative;
    width: 100%;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header h1{
    font-family: 'montextralight_demo', serif;
    color: #FFFFFF;
}

header #search{
    width: 50%;
    height: 35px;
    border-radius: 15px;
    padding-left: 20px;
}

header #search:hover{
    bottom: none;
    outline: none;
}

header div{
    width: 100px;
    display: flex;
    justify-content: space-between;
}

header i{
    color: #FFFFFF;
    font-size: 1.2em;
}

.display{
    padding: 60px 100px;
}

.display h1{
    padding-bottom: 20px;
    border-bottom: 1px solid black;
}

.profile-display{
    display: flex;
    margin-bottom: 65px;
    padding-bottom: 20px;
    border-bottom: 1px solid black;
}

.one{
    width: 20%;
    position: relative;
}

.profile{
    position: absolute;
    background-color: #44B0E6;
    width: 120px;
    height: 120px;
    top: -20%;
    left: 20%;
    border-radius: 50%;
}

.profile i{
    position: absolute;
    top: 24px;
    left: 25px;
    font-size: 5em;
    color: white;
}

.detail{
    width: 60%;
}

.cta{
    width: 20%;
    display: flex;
    flex-direction: column;
}

.btn{
    text-decoration: none;
    margin-bottom: 20px;
    padding: 8px 18px;
    background-color: #000000;
    color: #FFFFFF;
    border-radius: 20px;
    align-self: center;
}

@media all and (max-width: 1000px){
    header h1{
        font-size: 1.5em;
    }

    header #search{
        width: 40%;
    }

    header div{
        width: 50px;
    }

    header i{
        font-size: .8em;
    }

    .display{
        padding: 30px;
    }

    .profile-display{
        flex-direction: column;
    }

    .one{
        width: 100%;
        height: 140px;
    }

    .profile{
        top: 0;
        left: 40%;
    }

    .detail{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cta{
        width: 100%;
        padding-top: 20px;
        flex-direction: row;
        justify-content: center;
    }

    .btn{
        margin-left: 10px;
    }
}