@font-face {
    font-family: 'montextralight_demo';
    src: url('../font/mont-extralightdemo-webfont.woff2') format('woff2'),
         url('../font/mont-extralightdemo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montheavy_demo';
    src: url('../font/mont-heavydemo-webfont.woff2') format('woff2'),
         url('../font/mont-heavydemo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #FFFFFF;
    font-family: 'montextralight_demo', serif;
}

header{
    height: 60px;
    position: relative;
    width: 100%;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header h1{
    font-family: 'montextralight_demo', serif;
    color: #FFFFFF;
}

header #search{
    width: 50%;
    height: 35px;
    border-radius: 15px;
    padding-left: 20px;
}

header #search:hover{
    bottom: none;
    outline: none;
}

header div{
    width: 100px;
    display: flex;
    justify-content: space-between;
}

header i{
    color: #FFFFFF;
    font-size: 1.2em;
}

.banner{
    background-image: url(../images/profile.jpg);
    background-size: cover;
    background-position: bottom;
    background-color: gray;
    width: 100%;
    height: 250px;
}

.profile{
    position: absolute;
    background-color: #44B0E6;
    width: 120px;
    height: 120px;
    top: 250px;
    left: 46%;
    border-radius: 50%;
}

.profile i{
    position: absolute;
    top: 24px;
    left: 25px;
    font-size: 5em;
    color: white;
}

.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
}

.display{
    background-color: #FFFFFF;
    height: 400px;
    padding: 70px 0 0 80px;
    display: flex;
    flex-direction: column;
    border-radius: 0 0 10px 10px;
}

.book-display{
    display: flex;
    margin-bottom: 30px;
}

.book-display:last-child{
    padding-bottom: 100px;
}

.book-image{
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img{
    width: 60%;
    height: 100%;
    background-color: gray;
}

.detail{
    width: 60%;
}

.cta{
    padding-left: 20px;
    width: 25;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn{
    text-decoration: none;
    padding: 8px 18px;
    background-color: #000000;
    color: #FFFFFF;
    border-radius: 20px;
    align-self: center;
}

.display h1{
    padding: 50px 150px 0 150px;
}

@media all and (max-width: 1200px){

    header h1{
        font-size: 1.5em;
    }

    header #search{
        width: 40%;
    }

    header div{
        width: 50px;
    }

    header i{
        font-size: .8em;
    }

    .profile{
        left: 35%;
    }

    .display{
        padding: 70px 0 0 0;
    }

    .book-display{
        flex-direction: column;
        align-items: center;
    }

    .book-image{
        padding-top: 20px;
    }

    .img{
        width: 150px;
        height: 200px;
    }

    .detail{
        padding: 20px 0;
    }
}